* {
	margin: 0;
	padding: 0;
}


table {
	border: 2px brown solid;

}

tr,
td {
	border-collapse: collapse;
	width: 30px;
	height: 30px;
	text-align: center;	
}

.black {
	background: black;
}

.whiteCastle {
	background-image: url('');
}


